:root {
  background-color: #353535;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;

}
#form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #284b63;
  color: white;
  border-radius: 10%;
  margin: 20px;
  padding: 20px;
  width: 45%;
  #URL{
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  #TIT{
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  #DESC{
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  #buttonAG{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
}
.galeria{
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: space-around;
}

.galeria-item {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
    background-color: #284b63;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galeria-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.galeria-item img {
    width: 100%;
    height: 60%;
    display: block;
}

.galeria-item .titulo-img {
    color: white;
    padding: 10px;
    text-align: center;
}

.galeria-item .botones {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.galeria-item .botones button {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.galeria-item .botones button:hover {
    background-color: #c9302c;
}

.galeria-item .botones .ver-detalles {
    background-color: green;
}

.galeria-item .botones .ver-detalles:hover {
    background-color: #22b222;
}